html,
body {
  scroll-behavior: smooth;
}

body {
  color: #1a202c;
  background-color: #f7fafc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

.section {
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.hero {
  padding: 4rem 0;
  background-color: #ebf4ff;
  color: #2a4365;

  @media (min-width: 768px) {
    padding: 8rem 0;
  }

  img {
    box-shadow: 0 1rem 2rem rgba(11, 83, 148, 0.25);
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    height: 200px;

    @media (min-width: 768px) {
      height: 400px;
    }
  }

  .hero-link {
    font-size: 18px;
    color: #fff;
    background-color: #48bb78;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin-right: 1rem;
  }
}

.box {
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #c3dafe;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem rgba(11, 83, 148, 0.05);
  transition: all 0.25s;

  &:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(11, 83, 148, 0.15);

    svg {
      transform: scale(1.125);
    }
  }

  svg {
    transition: all 0.25s;
    margin-bottom: 1rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    opacity: 0.5;
  }

  h4 {
    font-size: 24px;
    color: rgb(11, 83, 148);
    margin-bottom: 1rem;
  }
}

.header {
  padding: 1rem 0;
  background-color: #ebf4ff;
  border-bottom: 1px solid #c3dafe;

  h1 {
    font-size: 36px;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
}

a {
  color: rgb(11, 83, 148);
  text-decoration: none;
}

.headline {
  font-size: 36px;
  line-height: 1.3;
}

.subheadline {
  font-size: 24px;
  line-height: 1.3;
}

.text-large {
  font-size: 24px;
  color: #2a4365;
}

.exp-item {
  padding: 2rem;
  height: 100%;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #c3dafe;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem rgba(11, 83, 148, 0.05);
  transition: all 0.25s;
  margin-bottom: 2rem;

  h3 {
    margin-bottom: 0.5rem;

    & + div {
      color: #7f9cf5;
      margin-bottom: 1rem;
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  strong {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: square;
  }

  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bubble {
  margin-top: 2rem;
  display: none;
  background-color: #2b6cb0;
  color: #90cdf4;
  width: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(11, 83, 148, 0.25);
  position: relative;

  @media (min-width: 768px) {
    display: inline-flex;
  }

  &:after {
    content: '';
    display: block;
    width: 2px;
    height: 480px;
    position: absolute;
    top: 8rem;
    background-color: #bee3f8;
    z-index: 0;
  }

  &.last:after {
    display: none;
  }

  .center {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 0.25rem 0;
  }
}

.listbox {
  background-color: #fff;
  border: 1px solid #c3dafe;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem rgba(11, 83, 148, 0.05);
  padding: 1.25rem;
  border-radius: 0.25rem;
  font-weight: bold;
  color: #2a4365;

  span span {
    font-weight: normal;
    color: #a0aec0;
  }

  i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  & + & {
    margin-top: 1rem;
  }
}
