body {
  color: #1a202c;
  background-color: #f7fafc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

.hero {
  padding: 6rem 0;

  img {
    box-shadow: 0 1rem 2rem rgba(11, 83, 148, 0.25);
    border-radius: 1rem;
    object-fit: cover;
  }

  .hero-link {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #48bb78;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 1rem;
  }
}

.box {
  border: 2px solid rgb(11, 83, 148);
  padding: 1rem;
  height: 100%;

  h4 {
    color: rgb(11, 83, 148);
  }
}

.header {
  padding: 1rem 0;
  background-color: #edf2f7;

  h1 {
    font-size: 36px;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
}

a {
  color: rgb(11, 83, 148);
  text-decoration: none;
}

.headline {
  font-size: 36px;
  line-height: 1.3;
}

.text-large {
  font-size: 22px;
  color: #222;
}
