html,
body {
  scroll-behavior: smooth;
}

body {
  color: #1a202c;
  background-color: #ebf4ff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

.lang-switcher {
  display: inline-flex;
  align-items: center;
  .lang-item {
    cursor: pointer;
    &:hover {
      opacity: 1 !important;
    }
    & + .lang-item {
      margin-left: 1rem;
    }
  }
  i {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.125rem;
  }
}

.section {
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.hero {
  padding: 2rem 0;
  background: linear-gradient(0deg, #ebf4ff, #fff);
  color: #2a4365;

  @media (min-width: 768px) {
    padding: 8rem 0;
  }

  h1 {
    font-size: 24px;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }

  .img-container {
    position: relative;
    margin-bottom: 2rem;
    &:before {
      content: '';
      width: 160px;
      height: 200px;
      background: url('/decoration.svg');
      position: absolute;
      z-index: 0;
      top: -2.5rem;
      left: 0rem;
      transform: rotate(-90deg);

      @media (min-width: 768px) {
        transform: rotate(180deg);
        top: -3rem;
        left: -2.5rem;
      }
    }
    &:after {
      content: '';
      width: 160px;
      height: 200px;
      background: url('/decoration.svg');
      position: absolute;
      z-index: 0;
      bottom: -2.5rem;
      right: 0rem;
      transform: rotate(90deg);

      @media (min-width: 768px) {
        transform: rotate(0deg);
        bottom: -2.5rem;
        right: -2.5rem;
      }
    }
  }

  .gatsby-image-wrapper {
    height: 220px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 99rem;
    box-shadow: 0 2px 12px rgba(13, 95, 47, 0.25);

    @media (min-width: 768px) {
      border-radius: 0.25rem;
      height: 400px;
      width: 100%;
    }

    img {
      z-index: 1;
    }
  }

  .hero-link {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(44, 177, 99);
    box-shadow: 0 2px 12px rgba(13, 95, 47, 0.25);
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin-bottom: 1rem;
    transition: all 0.125s;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
    letter-spacing: 0.5px;

    @media (min-width: 768px) {
      margin-right: 1rem;
    }

    &:hover {
      background-color: rgb(10, 167, 75);
      box-shadow: 0 4px 18px rgba(35, 170, 91, 0.5);
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.box {
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #c3dafe;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem rgba(11, 83, 148, 0.05);
  transition: all 0.25s;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  p {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(11, 83, 148, 0.15);

    svg {
      transform: scale(1.125);
    }
  }

  svg {
    transition: all 0.25s;
    margin-bottom: 1rem;
    position: absolute;
    opacity: 0.5;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 1rem;

    @media (min-width: 768px) {
      width: 3rem;
      height: 3rem;
    }
  }

  h4 {
    font-size: 20px;
    color: rgb(11, 83, 148);
    margin-bottom: 1rem;
  }
}

.header {
  padding: 0.5rem 0;
  background-color: #fff;
  display: block;
  position: sticky;
  top: 0;
  z-index: 99;

  @media (min-width: 768px) {
    padding: 1rem 0;
  }

  h1 {
    font-size: 24px;
  }
}

a {
  color: rgb(11, 83, 148);
  text-decoration: none;
}

.headline {
  font-size: 28px;
  line-height: 1.3;

  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.subheadline {
  font-size: 18px;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 1.3;
  }
}

.text-large {
  font-size: 18px;
  color: #2a4365;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.exp-item {
  padding: 2rem;
  height: 100%;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #c3dafe;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem rgba(11, 83, 148, 0.05);
  transition: all 0.25s;
  margin-bottom: 2rem;

  h3 {
    margin-bottom: 0.5rem;

    & + div {
      color: #7f9cf5;
      margin-bottom: 1rem;
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  strong {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: square;
  }

  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.bubble {
  margin-top: 2rem;
  display: none;
  background-color: #2b6cb0;
  color: #90cdf4;
  width: 8rem;
  height: 8rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(11, 83, 148, 0.25);
  position: relative;

  @media (min-width: 768px) {
    display: inline-flex;
  }

  &:after {
    content: '';
    display: block;
    width: 2px;
    height: 480px;
    position: absolute;
    top: 8rem;
    background-color: #bee3f8;
    z-index: 0;
  }

  &.last:after {
    display: none;
  }

  .center {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 0.25rem 0;
  }
}

.listbox {
  background-color: #fff;
  border: 1px solid #c3dafe;
  position: relative;
  box-shadow: 0 0.25rem 0.5rem rgba(11, 83, 148, 0.05);
  padding: 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  color: #2a4365;
  font-size: 14px;

  @media (min-width: 768px) {
    padding: 1.25rem;
    font-size: 1rem;
  }

  span span {
    font-weight: normal;
    color: #a0aec0;
  }

  i {
    font-size: 0.875rem;
    margin-right: 0.5rem;

    @media (min-width: 768px) {
      margin-right: 1rem;
      font-size: 1.5rem;
    }
  }

  & + & {
    margin-top: 1rem;
  }
}

.footer {
  .hero {
    background: linear-gradient(0deg, #fff, #ebf4ff);
  }
  .hero img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }
  .hero-link {
    margin: 0;
  }
}
